@use "author";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #0e0e0e;
    overflow: hidden;
    font-family: sans-serif;
}

.camera-positions {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 12;

    &:hover {
        .camera-positions-list {
            display: flex;
        }
    }

    &-list {
        display: flex;
        gap: 5px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
            z-index: 12;
            background-color: #fff;
            padding: 5px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            display: none;
            position: relative;
            top: 30px;
        
        }

        button {
            background: #0075ff;
            color: #fff;
            border: 0;
            border-radius: 4px;
            padding: 4px 10px;
            cursor: pointer;

            &:hover {
                background-color: #005cc8;
            }
        }
    }

    &-open {
        position: absolute;
        z-index: 10;
        display: none;
        background: #0075ff;
        color: #fff;
        border: 0;
        border-radius: 4px;
        padding: 4px 10px;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            display: block;
        }
    }
}

.container {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.three-d {
        perspective: 1000px;

        & > .floor {
            margin-top: 200px;
            transform: rotateX(90deg) rotateZ(0deg) rotateY(0deg);
        }
    }

    &.top {
        perspective: 100000px;
        & > .floor {
            transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) rotate(0deg);
        }
    }

    &.right {
        & > .floor {
            transform: rotateX(90deg) rotateZ(180deg) rotateY(0deg) rotate(-90deg);
        }
    }

    &.bottom {
        perspective-origin: center;
        perspective: 100000px;
        & > .floor {
            transform: rotateX(90deg) rotateZ(90deg) rotateY(0deg) rotate(-90deg);
        }
    }

    &.left {
        & > .floor {
            transform: rotateX(90deg) rotateZ(0deg) rotateY(0deg) rotate(-90deg);
        }
    }

    &.cam {
        &-one {
            perspective-origin: top left;
        }

        &-two {
            perspective-origin: top;
        }

        &-three {
            perspective-origin: top right;
        }
    }

    .floor {
        width: 698px;
        height: 698px;
        position: relative;
        box-shadow: 0 0 40px 40px #0e0e0e;
        transform-style: preserve-3d;
        transition: all 0.2s ease-in-out;

        &-texture {
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: 100%;
            }
            &:before {
                background-image: radial-gradient(#0000, #0e0e0e),
                    repeating-linear-gradient(transparent, transparent 38px, #1ac6cc 38px, #1ac6cc 40px);
            }
            &:after {
                transform: rotate(90deg);
                background-image: radial-gradient(#0000, #0e0e0e), radial-gradient(#0000, #0e0e0e),
                    repeating-linear-gradient(transparent, transparent 38px, #1ac6cc 38px, #1ac6cc 40px);
            }
        }

        .cube {
            position: absolute;
            transform-style: preserve-3d;
            z-index: 1;

            & > .side {
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 20px #858585;
            }
        }
    }
}

.form {
    position: fixed;
    width: 300px;
    right: -300px;
    top: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    max-height: calc(100vh - 20px);
    overflow-y: auto;
    z-index: 10;
    transition: all 0.2s linear;

    &.open {
        right: 10px;
    }
    & > * {
        display: flex;
        align-items: center;
        & > * {
            flex: 1 0;
            font-size: 12px;
        }

        .color-side-list {
            display: flex;
            flex-direction: column;
            position: relative;

            &.disabled {
                & > * {
                    pointer-events: none;
                    opacity: 0.4;
                }
            }

            &-row {
                display: flex;
            }
            &-col {
                width: 23%;
                margin: 1%;
                aspect-ratio: 1;
                background-color: #fff;
                border: 1px solid black;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                cursor: pointer;
                transition: all 0.2s linear;

                &:hover {
                    box-shadow: 0 0 5px #2a2a2a;
                }

                span {
                    mix-blend-mode: difference;
                    color: #fff;
                    transform: rotate(-45deg);
                    width: 100%;
                    text-align: center;
                }
            }

            .color-modal {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translate(0px, -50%);
                display: none;
                &.open {
                    display: block;
                    width: 100%;

                    & > * {
                        width: auto !important;
                    }
                }
            }
        }
    }

    .save-btn {
        justify-content: center;
        background-color: #065e40;
        padding: 5px;
        border: 0;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;

        &:disabled,
        &.disabled {
            opacity: 0.5;
            cursor: initial !important;
        }
    }

    &-close-btn {
        background-color: #ff5189;
        border: 0;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        top: 5px;
        justify-content: center;
        width: 22px;
        aspect-ratio: 1;
    }
}

.form-open-btn {
    background-color: #065e40;
    padding: 5px;
    border: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 10%;
    width: 36px;
    aspect-ratio: 1;
}

.floor-zoom {
    &-in,
    &-out {
        position: fixed;
        left: 10px;
        z-index: 11;
        width: 30px;
        aspect-ratio: 1;
        font-size: 20px;
        cursor: pointer;
    }

    &-in {
        top: 10%;
    }
    &-out {
        top: calc(10% + 40px);
    }
}

.export-btn{
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: green;
    color: #fff;
    z-index: 10;
    padding: 10px;
}