@use "author";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #000;
    overflow: hidden;
    font-family: sans-serif;
}

.camera-positions {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    display: flex;
    gap: 5px;

    button{
        background: #0075ff;
        color: #fff;
        border: 0;
        border-radius: 4px;
        padding: 4px 10px;
        cursor: pointer;

        &:hover{
            background-color: #005cc8;
        }
    }
}

.container {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s linear;

    &.three-d {
        perspective: 1000px;

        & > .floor {
            margin-top: 200px;
            transform: rotateX(90deg) rotateZ(0deg) rotateY(0deg);
        }
    }

    &.top {
        perspective: 999999999999px;
        & > .floor {
            transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg) rotate(0deg);
        }
    }

    &.right {
        & > .floor {
            transform: rotateX(90deg) rotateZ(180deg) rotateY(0deg) rotate(-90deg);
        }
    }

    &.bottom {
        & > .floor {
            transform: rotateX(90deg) rotateZ(90deg) rotateY(0deg) rotate(-90deg);
        }
    }

    &.left {
        & > .floor {
            transform: rotateX(90deg) rotateZ(0deg) rotateY(0deg) rotate(-90deg);
        }
    }

    &.cam {
        &-one {
            perspective-origin: top left;
        }

        &-two {
            perspective-origin: top;
        }

        &-three {
            perspective-origin: top right;
        }
    }

    .floor {
        width: 698px;
        height: 698px;
        position: relative;
        box-shadow: 0 0 40px 40px black;
        transform-style: preserve-3d;
        transition: all 1s linear;

        &-texture {
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                background-size: 100%;
            }
            &:before {
                background-image: radial-gradient(#0000, #000),
                    repeating-linear-gradient(transparent, transparent 38px, #1ac6cc 38px, #1ac6cc 40px);
            }
            &:after {
                transform: rotate(90deg);
                background-image: radial-gradient(#0000, #000), radial-gradient(#0000, #000),
                    repeating-linear-gradient(transparent, transparent 38px, #1ac6cc 38px, #1ac6cc 40px);
            }
        }

        .cube {
            position: absolute;
            transform-style: preserve-3d;
            z-index: 1;

            & > .side {
                position: absolute;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 20px #858585;
            }
        }
    }
}

.form {
    position: absolute;
    width: 300px;
    right: 10px;
    top: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    gap: 5px;
    & > * {
        display: flex;
        align-items: center;
        & > * {
            flex: 1 0;
        }
    }

    .save-btn {
        justify-content: center;
        background-color: #065e40;
        padding: 5px;
        border: 0;
        border-radius: 4px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
}
